/*body*/
body{
  font-family: roboto;
    color: #2E2F42;
  }
/*logo*/
.logo{
  font-family: 'Raleway', sans-serif
}
.logo{
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.class-span{
  color: #2e2f42;
}
.logo{
  text-decoration: none;
}
/*NAV*/







/*spisok 1 sekcia*/
.list{
  list-style: none;
}
