body{
  font-family: roboto, sans-serif}
  body{color: #434455;
  background-color: #FFFFFF;}
  .header-web{font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;}
  .nawigation{
font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  }
  .nawigation:hover{
    color: #404BBF;
    background-color: white;
  }
  .mail:hover{
    color: #404BBF;
      background-color: white;
  }
  .mail{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
  }
  .phone-number{
    color: #434455;
    font-weight: 500;
      font-size: 16px;
      line-height: 24px;
  }
 .phone-number:hover {
   color: #404BBF;
   background-color: white;
 }
 
.filter-list:hover{
  color: #FFFFFF;
  background-color: #404BBF;
}
.filter-list:focus{
  color: #FFFFFF;
    background-color: #404BBF;
}
.filter-list{
    width: 69px;
      height: 48px;
}
.footer-webstudio{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
.small-text{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.medium-text2{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footer-text{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.filter-list{
  cursor: pointer;
}